@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Schoolbell&display=swap');


body {
    background-color: lightblue;
}
.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    box-shadow: 1px 3px 8px rgb(0, 0, 0);
}

.title {
display: flex;
justify-content: center;
font-family: "Schoolbell", cursive;
}

.content {
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.customization {
display: flex;
justify-content: center;
gap: 5px;
margin-bottom: 35px;
}
