@font-face {
    font-family: MyFont;
    src: url(Drawrite.ttf);
  }
  
  .title {
    font-family: MyFont;
    text-align: center;
    font-size: 75px;
  }
  
  .row {
    height: 80px;
    width: 80px;
  }
  
  .grid {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: flex;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  #enterSize {
    height: 20px;
  }
  
  .art-pad {
    display: flex;
    justify-content: center;
  }
  
  footer {
    margin-top: 10vh;
    text-align: center;
  }
  